<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <div class="nav-collapse">
        <ul class="nav">
          <li><a {{action homePage href="true"}} >All products</a> </li>
          <li><a title='about us' href='/about_us'>About us</a> </li>
          <li><a title='contact us' href='/contact'>Contact us</a> </li>
        </ul>
      </div>
    </div>
  </div>
</div>

{{outlet}}
